{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="blog__details__title">
                    <p1><h2>DOPAMINE VOICE</h2></p1>
                    <p2><h3 style="font-weight: bold; color: white;">#1 Қазақша әуесқой дыбыстама тобы</h3></p2>
                    <p><h4 style=" color:rgb(208, 91, 255);">Бізді басқа желілерде қараңыздар:</h4></p>
                    <div class="blog__details__social">
                        <a href="https://www.tiktok.com/@dopamine_voice?lang=ru-RU" target="_blank"><img
                                src="{% static 'img/tiktok_logo.jpg' %}" style="max-width: 130px; border-radius: 20px;" alt=""></a>
                        <a href="https://www.youtube.com/channel/UCZ5Qi5SyW75Bj7CT4Sl5kHQ" target="_blank"><img
                                src="{% static 'img/youtube_logo.jpg' %}" style="max-width: 130px; border-radius: 20px;" alt=""></a>
                        <a href="https://t.me/dopamine_voice" target="_blank"><img
                                src="{% static 'img/telegram_logo.jpg' %}"
                                style="max-width: 130px; border-radius: 20px;"
                                alt=""></a>
                        <a href="https://www.instagram.com/dopamine_voice/" target="_blank">
                            <img src="{% static 'img/inst_logo.jpg' %}"
                                 style="max-width: 130px; border-radius: 20px;"
                                 alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__text">
                            <p><b>DOPAMINE VOICE</b> – аниме мәдениеті арқылы қазақ тілінің популизациясына үлес қосу
                                мақсатында Қазақстанның әр түрлі қалаларынан жиналған жастардың құрған жобасы. Жоба 2021
                                жылдың сәуір айынан бастап қарқынды жұмыс атқарып келеді. Негізгі қызметі – танымал
                                анимелерді қазақ тіліне аударып, дыбыстау.</p>
                            <p style="border-bottom: 3px solid rgb(208, 91, 255)"></p>

                            <p style="margin-top: 10px;"><b>ЕҢ АЛҒАШ ЖОБА</b> – «Сенің есімің» («Твое имя») толық
                                метражды
                                анимесінің дубляжы. Қазіргі таңда Dopamine Voice әлеуметтік желілерде өзінің жеке
                                аудиториясына, танымалдыққа және үлкен сұранысқа ие.
                            </p>
                            <p style="border-bottom: 3px solid rgb(208, 91, 255)"></p>

                            <p style="margin: 0;"><b>АТҚАРЫЛҒАН ЖҰМЫСТАР:</b></p>
                            <p style="margin: 0;">• <a href="/kimi_no_nawa">«Сенің Есімің»(«Kimi no na wa»)</a></p>
                            <p style="margin: 0;">• <a href="/aot_1-1">«Титандар Шабуылы 1-Маусым» («Shingeki no
                                Kyojin»)</a></p>
                            <p style="margin: 0;">• <a href="/howls_castle">«Хаулдың Жаяу Қамалы» («Howl's Moving
                                Castle»)</a></p>
                            <p>• <a href="/chainsawman_1-1">«Шынжырлы Ара Адам 1-Маусым» («Chainsaw Man»)</a></p>
                            <p>• «Сиқырлы Шайқас 0» («Jujutsu Kaisen 0»)</p>
                            <p style="border-bottom: 3px solid rgb(208, 91, 255)"></p>

                            <p style="margin-top: 10px;"><b>БІЗДІҢ ҚАУЫМДАСТЫҚ</b>
                            </p>
                            <p style="margin: 0;">• TikTok: dopamine_voice (195 000 жазылушы)</p>
                            <p style="margin: 0;">• Instagram: dopamine_voice (5 000 жазылушы)</p>
                            <p style="margin: 0;">• Instagram: dopamine.movie (11 000 жазылушы)</p>
                            <p style="margin: 0;">• YouTube: Dopamine Voice (4 700 жазылушы)</p>
                            <p style="margin: 0;">• Telegram: Dopamine Voice (1 700 жазылушы)</p>
                        </div>
                        <div class="blog__details__item__text">
                            <h4>Біздің алға қойған мақсатымыз</h4>
                            <!-- <img src="img/blog/details/bd-item-2.jpg" alt=""> -->
                            <p style="margin: 0;">• Қазақ тіліне аниме мәдениетін бейімдеу;</p>
                            <p style="margin: 0;">• Қазақ тілін жастар арасында насихаттау;</p>
                            <p style="margin: 0;">• Қазақ тілінің қолданыс аясын кеңейту;</p>
                            <p style="margin: 0;">• Қазақ тіліндегі контентті көбейту; </p>
                            <p style="margin: 0;">• Қазақ тіліндегі аудармаларға баса назар аудару;</p>
                            <p style="margin: 0;">• Қазақ тіліндегі дубляжды дамыту.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
{% endblock %}