{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <style>
        body {
            margin-top: 20px;
        }

        /*==================================================
          Post Contents CSS
          ==================================================*/

        .post-content img.post-image, video.post-video, .google-maps {
            width: 100%;
            height: auto;
        }

        .post-content .google-maps .map {
            height: 300px;
        }


        .post-content .post-container .post-detail .reaction {
            position: absolute;
            right: 0;
            top: 0;
        }

        .post-content .post-container .post-detail .post-comment {
            display: inline-flex;
            margin: 10px auto;
            width: 100%;
        }

        .post-content .post-container .post-detail .post-comment img.profile-photo-sm {
            margin-right: 10px;
        }

        .post-content .post-container .post-detail .post-comment .form-control {
            height: 30px;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            margin: 7px 0;
            min-width: 0;
        }

        img.profile-photo-md {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        img.profile-photo-sm {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        .text-green {
            color: #8dc63f;
        }

        .text-red {
            color: #ef4136;
        }

        .following {
            color: #8dc63f;
            font-size: 12px;
            margin-left: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="anime__details__content">
        <div class="row">
            <div class="col-lg-3">
                <div class="anime__details__pic set-bg" data-setbg="{{ object.img.url }}">
                </div>
            </div>
            <div class="col-lg-9">
                <div class="anime__details__text">
                    <div class="anime__details__title">
                        <h3>{{ object.title }}</h3>
                        <span> {{ object.original_title }}</span>
                    </div>
                    <p>{{ object.description }}</p>
                    <div class="anime__details__widget">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <ul>
                                    <li><span>Тип:</span> {{ object.get_status_display }}</li>
                                    <li><span>Студия:</span> {{ object.studia }}</li>
                                    <li><span>Жанр:</span> {{ object.genre.all|join:", " }}</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <ul>
                                    <li><span>Прокат:</span> {{ movie.prokat }}</li>
                                    <li><span>Бөлім саны:</span> {{ movie.max_series }}</li>
                                    <li><span>Уақыты:</span> {{ movie.duration }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% if movie.full_length == True %}
                    <div id="player"></div>
                    <iframe width="100%" height="384" src="{{ current_episode.iframe_link }}" frameborder="0"
                            allow="autoplay" allowfullscreen></iframe>
                {% else %}
                    <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>1 Маусым</h5>
                        </div>
                        {% for seriya in object.series.all %}
                            {% if view.kwargs.seriya == seriya.number %}
                                <a href="#" style="background-color: #e53637;">{{ seriya.number }} БӨЛІМ</a>
                            {% else %}
                                <a href="{{ seriya.get_episode_url }}">{{ seriya.number }} БӨЛІМ</a>
                            {% endif %}
                        {% empty %}
                            <div class="anime__video__player">
                                <p>Иш зат жоқ</p>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="anime__video__player">
                        <div id="player"></div>
                        <iframe width="100%" height="384"
                                src="{{ current_episode.iframe_link }}" frameborder="0"
                                allow="autoplay" allowfullscreen></iframe>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "movies/episode_comments.html" %}
{% endblock %}