{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Dopamine Voice (Дофамин Войс) - #1 Қазақша Аниме әуесқой дыбыстама тобы. Біз Қазақстанның түрлі қалаларынан шыққан жастармыз, бізді бір мақсат біріктіреді — аниме дыбыстамасының көмегімен қазақ тілін танымал ету.">
    <meta name="keywords" content="қазақша аниме, қазақша дыбыстама, дофамин войс, dopamine voice">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'img/Dopamine Voice_minilogo.png' %}">
    <title>{% block head_title %}Dopamine Voice {% endblock %} | #1 Қазақша аниме дыбыстама тобы</title>
    {% block extra_head %}
    {% endblock %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'custom.css' %}" type="text/css">

</head>

<body>
{% include "includes/header.html" %}

<section class="product spad">
    <div class="container">
        <div class="row">
            {% if messages %}
                <div class="col-md-12">
                    {#                    <p style="text-align: center">Хабарлар:</p>#}
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert {% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <!-- <div class="featured-content" style="background: linear-gradient(to bottom, rgba(0,0,0,0), #0b0c2a), url('video/chainsawman.mp4')">   -->
        {% block reklama %}
        {% endblock %}

        {% block content %}

        {% endblock %}

    </div>
</section>
<!-- Product Section Begin -->

<!-- Product Section End -->
{% include "includes/footer.html" %}

</body>
</html>